/dist
/node_modules
/.env
/.vscode
/build
/.DS_Store
/.env.local
/venv
/__pycache__/
/.server.log
/.idea
/.pytest_cache
/.mypy_cache
/.vscode-test
/.history
/.next
/.nuxt
/.parcel-cache
/.cache 
/.turbo
/.pnp
.pnp.js
/.pnp.cjs
/.pnp.loader.mjs
/.pnp.loader.cjs
/.pnp.loader.js
/.sass-cache
/.expo
/.expo-shared
/.firebase
/.vercel
/.serverless
/.awsmobilejs
/.yalc